<template>
  <v-app-bar
    class="appbar overflow-hiden"
    absolute
    color="blue"
    elevate-on-scroll="true"
    scroll-target="#scrolling-techniques-7"
  >
    <img class="icon" src="../../public/veterinary.png" alt="" />
    <v-toolbar-title class="title">Pet Store</v-toolbar-title>

    <v-spacer></v-spacer>

    <v-btn text rounded transparent>Inicio</v-btn>
    <v-btn text rounded>Nosotos</v-btn>
    <v-btn text rounded>Servicios</v-btn>
    <v-btn text rounded>Blog</v-btn>
    <v-btn text rounded>Contacto</v-btn>
  </v-app-bar>
</template>
