<template>
  <v-container>
    <v-row>
      <v-col cols="3" />
      <v-col align-self="end" cols="6">
        <v-card-title>
          <h1 class="text-h2">¿Quiénes somos?</h1>
        </v-card-title>
        <v-card-text class="text-body-1 font-weight-light">
          Pet Store es una organización que busca ayudar a reducir la cantidad
          de animales abandonados que es recurrente en la ciudad, para ello
          buscamos facilitar a que las personas que deseen adoptar, puedan
          hacerlo por medio de esta plataforma en donde se pueden buscar nuevas
          mascotas, puedes ver sus fotos o conocer sus historias, además de
          poder adquirir algunos accesorios extra si estás interesado o
          interesada. Esta página es libre y pueden registrarse tanto las
          personas que quieren adoptar como las personas que necesiten dar en
          adopción por diversas razones, con esto buscamos que hayan menos
          animales en las calles y que hayan más animales en los hogares en
          donde necesitan.
          <v-img
            height="400"
            width="400"
            class="about_image"
            src="@/assets/about.jpeg"
            align="center"
          ></v-img>
        </v-card-text>
      </v-col>
      <v-col cols="3" />
    </v-row>
  </v-container>
</template>

<script>
export default {}
</script>

<style>
.about__text {
  font-size: 20px !important;
}
.about_image {
  margin-left: auto;
  margin-right: auto;
}
</style>
