<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="6">
        <h1>Hola, {{ user.username }}</h1>
        <v-form>
          <v-text-field
            label="Nombre de usuario"
            type="text"
            v-model="user.username"
            append-icon="mdi-pencil"
            disabled
          ></v-text-field>
          <v-text-field
            label="Nombres"
            type="text"
            v-model="user.first_name"
            append-icon="mdi-pencil"
            disabled
          ></v-text-field>
          <v-text-field
            label="Apellidos"
            type="text"
            v-model="user.last_name"
            append-icon="mdi-pencil"
            disabled
          ></v-text-field>
          <v-text-field
            label="Email"
            type="text"
            v-model="user.email"
            append-icon="mdi-pencil"
            disabled
          ></v-text-field>
          <v-btn color="error" right type="danger">Cerrar sesión</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['user'])
}
</script>
