<template>
  <v-container>
    <v-row>
      <v-col cols="2" />
      <v-col cols="8">
        <h1>Formulario de adopción de {{ pet.name }}</h1>
        <v-form v-on:submit.prevent="adopt">
          <v-row>
            <v-col>
              <v-text-field type="text" label="Nombres" />
            </v-col>
            <v-col>
              <v-text-field type="text" label="Apellidos" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field type="number" label="DNI" />
            </v-col>
            <v-col>
              <v-text-field type="date" label="Fecha de nacimiento" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field type="text" label="Distrito" />
            </v-col>
            <v-col>
              <v-text-field type="text" label="Dirección" />
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field type="text" label="Ocupación" />
            </v-col>
            <v-col>
              <v-text-field type="number" label="Teléfono celular" />
            </v-col>
          </v-row>
          <v-row>
            <v-spacer></v-spacer>
            <v-btn color="green" type="submit" dark class="v-button" rounded large
              >Adoptar</v-btn
            >
          </v-row>
        </v-form>
      </v-col>
      <v-col cols="2" />
      <v-col cols="4"> </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    person: {
      id: 1,
      name: "roier"
    }
  }),
  props: {
    pet: {
      type: Object,
      required: true
    }
  },
  methods: {
    adopt() {
      this.$store.dispatch('adopt', {
        person: this.person.id,
        pet: this.pet.id
      })
      .then(() => {
        this.$router.push({ name: 'home' })
      })
      .catch(e => {
        console.log(e)
      })
    }
  }
}
</script>

<style>
.v-button {
  width: 200px !important;
  height: 50px !important;
  margin-left: 10px;
  margin-right: 10px;
}
</style>
