<template>
  <v-container>
    <div class="gallery">
      <v-row>
        <v-col
          v-for="pet in pets"
          :key="pet.id"
          class="d-flex child-flex"
          cols="4"
        >
          <v-card flat tile class="d-flex">
            <Card :pet="pet">
              <template v-slot:placeholder>
                <v-row class="fill-height ma-0" align="center" justify="center">
                  <v-progress-circular
                    indeterminate
                    color="grey lighten-5"
                  ></v-progress-circular>
                </v-row>
              </template>
            </Card>
          </v-card>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>
<script>
import { mapState } from 'vuex'

export default {
  components: {
    Card: () => import('@/components/CardComponent')
  },
  created() {
    this.$store.dispatch('fetchPets', { type: 2 })
  },
  computed: mapState(['pets'])
}
</script>
<style>
.divdog {
  margin-top: 50px;
}
.gallery {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
</style>
