<template>
  <v-container>
    <v-row>
      <div class="font">
        <v-row align="center">
          <v-col class="banner__title" cols="12" md="7" align="center">
            <h1 class="display-3 font-weight-bold">
              Ellos te necesitan
            </h1>

            <div class="subheading pl-2 mb-4 banner__text">
              Sólo en la región de Ayacucho existen más de 40 mil canes
              abandonados. Tú puedes salvar una vida y a cambio, obtener una
              linda amistad incondicional
            </div>
          </v-col>
        </v-row>
        <Banner class="banner" />
      </div>
    </v-row>
    <v-row>
      <Feed />
      <router-link class="more" to="/pets">
        <div class="album__title">
          Ver más ...
        </div>
      </router-link>
    </v-row>
  </v-container>
</template>

<script>
export default {
  components: {
    Banner: () => import('@/components/Banner'),
    Feed: () => import('@/components/Feed')
  }
}
</script>

<style>
.container {
  margin-top: 100px;
}
.banner__title {
  margin-left: auto;
  margin-right: auto;
  margin-top: -90px;
  z-index: 1;
}
.banner__text {
  padding-top: 20px;
  color: white;
  font-size: 18px;
  font-weight: 500;
}
.font {
  background-color: #308dd3;
  margin-top: -100px;
  height: 430px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.banner {
  position: absolute;
  z-index: 0;
}
.album__title {
  font-weight: bold;
  font-size: 45px;
  color: #4caf50;
}
.more {
  margin-top: 20px;
  text-decoration: none;
  margin-left: 10%;
}
</style>
