<template>
  <v-app>
    <v-card width="400" class="mx-auto mt-15">
      <v-card-title>
        <h1>Inicio de Sesión</h1>
      </v-card-title>
      <v-form v-on:submit.prevent="login">
        <v-card-text>
          <v-text-field
            v-model="username"
            label="Usuario"
            prepend-icon="mdi-account-circle"
          />
          <v-text-field
            v-model="password"
            label="Contraseña"
            :type="showPassword ? 'text' : 'password'"
            prepend-icon="mdi-lock"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            @click:append="showPassword = !showPassword"
          />
          <div v-if="incorrectAuth" class="red--text">
            Contraseña incorrecta
          </div>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-btn color="success" to="signup"> Registrarme</v-btn>
          <v-spacer></v-spacer>
          <v-btn type="submit" color="info">Iniciar sesión</v-btn>
        </v-card-actions>
      </v-form>
    </v-card>
  </v-app>
</template>

<script>
export default {
  name: 'Login',
  data: () => ({
    username: '',
    password: '',
    showPassword: false,
    incorrectAuth: false
  }),
  methods: {
    login() {
      this.$store
        .dispatch('userLogin', {
          username: this.username,
          password: this.password
        })
        .then(() => {
          this.$router.push({ name: 'home' })
        })
        .catch((e) => {
          console.log(e)
          this.incorrectAuth = true
        })
    }
  }
}
</script>

<style scoped></style>
