<template>
  <div>
    <h1>Gaah! :c</h1>
    <h3>Parece que estás teniendo problemas de conexión, intenta nuevamente</h3>
    <router-link :to="{ name: 'event-list' }"
      >O ve a la página principal</router-link
    >
  </div>
</template>
