<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="6">
        <h1>Registra una nueva mascota para darla en adopción</h1>
        <v-form v-on:submit.prevent="postPet">
          <v-text-field
            label="Nombre"
            type="text"
            v-model="name"
          ></v-text-field>
          <v-text-field
            label="Descripción"
            type="text"
            v-model="description"
          ></v-text-field>
          <v-text-field
            label="Precio"
            type="number"
            v-model="price"
          ></v-text-field>
          <v-text-field
            label="Cuéntanos un poco sobre su historia"
            type="text"
            v-model="history"
          ></v-text-field>
          <v-file-input
            label="Selecciona una foto de tu mascota"
            accept="image/*"
            v-model="photo"
          ></v-file-input>
          <v-select
            v-model="type"
            :items="categories"
            label="Categoría"
            single-line
            bottom
          ></v-select>
          <v-btn type="submit" color="primary">Registrarme</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>

export default {
  data: () => ({
    name: '',
    description: '',
    price: {
      default: null
    },
    history: '',
    photo: null,
    type: {
      type: Number,
      default: 3
    },
    user: 1,
    categories: [
      'Gato',
      'Perro',
      'Otro'
    ]
  }),
  methods: {
    postPet() {
      let pet = {
        name: this.name,
        description: this.description,
        price: this.price,
        history: this.history,
        photo: this.photo.name,
        type: this.type,
        person: null,
        user: this.user
      }
      console.log(pet)
      this.$store.dispatch('postPet', pet)
      .then(() => {
        this.$router.push({name: 'pets'})
      })
      .catch(e => {
        console.log(`Hubo un error al registrar: ${e}`)
      })
    }
  }
}
</script>
