<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="6">
        <h1>Registro</h1>
        <v-form v-on:submit.prevent="register">
          <v-text-field
            label="Nombre de usuario"
            type="text"
            v-model="username"
            :rules="usernameRules"
          ></v-text-field>
          <v-text-field
            label="Contraseña"
            type="password"
            v-model="password1"
            append-icon="mdi-eye"
          ></v-text-field>
          <v-text-field
            label="Repita la contraseña"
            type="password"
            v-model="password2"
            append-icon="mdi-eye"
          ></v-text-field>
          <v-btn type="submit" color="primary">Registrarme</v-btn>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>
<script>
export default {
  data: () => ({
    username: '',
    usernameRules: [(value) => !!value || 'Este campo es obligatorio'],
    email: '',
    emailRules: [(value) => !!value || 'El correo electrónico es obligatorio'],
    password1: '',
    password2: ''
  }),
  methods: {
    register() {
      this.$store.dispatch('userRegister', {
        username: this.username,
        password1: this.password1,
        password2: this.password2
      }).then(() => {
        this.$router.push({ name: 'home' })
      }).catch(e => {
        console.log(`Hubo un error ${e}`)
      })
    }
  }
}
</script>
