<template>
  <div class="img_container">
    <div>
      <v-img class="image" :src="require('@/assets/banner_image.png')" />
    </div>
  </div>
</template>

<script>
export default {}
</script>
<style>
.image {
  margin-top: 150px;
}
</style>
