<template>
  <v-card max-width="400" max-height="800px">
    <v-img
      class="white--text align-end"
      height="400px"
      width="400px"
      :src="pet.photo"
    >
      <div class="card-title-style">
        <v-card-title class="text-h2">{{ pet.name }}</v-card-title>
      </div>
    </v-img>
    <v-card-text>
      <div>{{ pet.history }}</div>

      <div>{{ pet.description }}</div>
    </v-card-text>
    <v-card-actions class="actions">
      <v-col>
        <v-btn color="green" block class="white--text" rounded :to="{ name: 'adopt', params: {id: pet.id}}">
          Adoptar <v-icon right>mdi-home</v-icon>
        </v-btn>
        <div class="button-div"></div>
        <v-btn color="#308dd3" class="white--text" block rounded>
          Donar <v-icon right>mdi-heart</v-icon>
        </v-btn>
      </v-col>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: ['pet']
}
</script>

<style>
.button-div {
  margin-bottom: 10px;
}
.card-title-style {
  background-color: rgba(50, 50, 50, 0.5);
}
</style>
