<template>
  <v-container>
    <v-row>
      <div class="feed__text text--secondary text-h4">
        Buscamos ayudar a las personas y animales facilitando la adopción y
        colaborando a que cada vez más personas encuentren a su amigo ideal, un
        amigo a la vez
      </div>
    </v-row>
    <v-row>
      <div class="feed__button">
        <v-btn color="green" dark rounded large to="/pets">Deseo Adoptar</v-btn>
        <v-btn color="#308dd3" dark rounded large to="/post-pet"
          >Dar en adopción</v-btn
        >
      </div>
    </v-row>
    <v-row>
      <div class="category__title">
        Busca por categoría
      </div>
    </v-row>
    <v-row class="feed__category" justify="center">
      <v-card wrap to="/dogs">
        <img
          class="category__image"
          :src="require('@/assets/categories/lunex.jpg')"
          alt="dogs"
        />
        <v-card-title class="card__title">Perros</v-card-title>
      </v-card>

      <v-card wrap to="/cats">
        <img
          class="category__image"
          :src="require('@/assets/categories/cat_cat.jpg')"
          alt="cats"
        />
        <v-card-title class="card__title">Gatos</v-card-title>
      </v-card>
      <v-card wrap to="/cats">
        <img
          class="category__image"
          :src="require('@/assets/categories/more_cat.png')"
          alt="more"
        />
        <v-card-title class="card__title">Más</v-card-title>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {}
</script>

<style>
.feed__text {
  text-align: center;
  padding-left: 250px;
  padding-right: 250px;
  margin-top: 100px;
}
.feed__button {
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
}
.feed__button > a {
  width: 200px !important;
  height: 50px !important;
  margin-left: 10px;
  margin-right: 10px;
}
.feed__category {
  margin-top: 25px;
}
.feed__category > a {
  margin-left: 15px;
  margin-right: 15px;
}
.card__title {
  font-size: 30px;
  font-weight: 500;
  justify-content: center;
}
.category__image {
  height: 400px;
  width: 450px;
}
.category__title {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  margin-top: 100px;
  font-size: 45px;
  color: #308dd3;
}
</style>
