<template>
  <v-app-bar class="appbar overflow-hiden" absolute color="white">
    <router-link text class="logo" :to="links[0].route">
      <img class="icon" src="../../public/veterinary.png" alt="logo" />
      <v-toolbar-title class="title black--text">Pet Store</v-toolbar-title>
    </router-link>

    <v-spacer></v-spacer>

    <v-btn text rounded v-for="link in links" :key="link.name" :to="link.route"
      >{{ link.name }}<v-icon>{{ link.icon }}</v-icon></v-btn
    >
  </v-app-bar>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: mapState(['links'])
}
</script>

<style>
.appbar {
  padding-left: 200px;
  padding-right: 200px;
}
.title {
  margin-left: 20px;
}
.icon {
  height: 50px;
}
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
</style>
