<template class="app">
  <v-app>
    <Header />
    <v-main>
      <div class="spacer"></div>
      <router-view></router-view>
    </v-main>
    <Footer />
  </v-app>
</template>

<script>
import Header from './components/Header'
import Footer from './components/Footer'

export default {
  name: 'App',
  components: {
    Header,
    Footer
  },
  data: () => ({
    //
  }),
  created() {
    this.$store.dispatch('fetchTypes')
  }
}
</script>
<style>
.app {
  margin: 0;
}
.spacer {
  margin-top: 40px;
}
</style>
